<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
</head>
<body>
    <h3>Register yourself</h3>

    <form method="POST" action="{{url_for('register')}}">
        <label for="name">enter your name</label><br>
        <input type="text" name="name"><br>
        <label for="username">enter usernam</label><br>
        <input type="text" name="username"><br>
        <label for="email">enter your email</label><br>
        <input type="email" name="email"><br>
        <label for="password">enter your password</label><br>
        <input type=password" name="password"><br>
        <label for="confirm_password">confirm password</label><br>
        <input type="password" name="confirm_password"><br>
        <input type="submit" name="submit" value="Register"><br>

        
        
    </form>
    
</body>
</html>